html {
    scroll-behavior: smooth;
}

img {
    vertical-align: middle;
}

p, li, ul, h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input, button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    transition: all 0.3s ease;
}

button:hover {
    opacity: 0.8;
}

